@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
  --header-height: 50px;
  --text-special-color: rgb(42, 40, 68);
  --hover-color: rgb(247, 243, 241);
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: rgb(249, 248, 248);
}

.pageContainer {
  transition: background-image 1s;
  background-image: none;
}

.pageContainer.visible {
  background-image: url('./images/SuitsOnDummies.jpg');
  background-size: cover;
  background-position: bottom center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.header {
  height: var(--header-height);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  transition: background-color 0.3s;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header.transparent {
  background-color: transparent;
  box-shadow: none;
}

.header.transparent:hover {
  background-color: white;
}

@media (min-width:700px) {
  .header {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.left {
  display: flex;
  text-align: center;
  height: 100%;
  width: 500px;
}

.headerElem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-size 0.3s, background-color 0.3s;
  font-weight: 300;
  font-size: 13px;
  color: var(--text-special-color);
  position: relative;
}

.headerElem:hover .dropDown {
  visibility: visible;
}

.dropDown {
  position: absolute;
  top: var(--header-height);
  left: 0;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  visibility: hidden;
}

.dropDownList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.categoryElem {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.categoryLink {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.categoryElem:hover {
  text-decoration: underline;
}

.header.transparent .headerElem {
  color: white;
}

.header.transparent:hover .headerElem {
  color: var(--text-special-color);
}


.headerElem:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  font-size: 14px;
}

.headerElem.active {
  font-weight: bold;
}


.home {
  height: calc(100vh - var(--header-height));
  width: 100vw;
}

.basket {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;  
  transition: font-size 0.3s, background-color 0.3s;
  color: var(--text-special-color);
}

.header.transparent .basket {
  color: white;
}

.header.transparent:hover .basket {
  color: var(--text-special-color);
}

.basket:hover {
  cursor: pointer;
  font-size: 21px;
  background-color: var(--hover-color);
}

.headerBasket {
  position: relative;
}

.badge {
  width: 6px;
  height: 6px;
  font-size: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: 0;
  bottom: -1px;
  background-color: red;
  padding: 5px;
  text-align: center;
  border: 2px solid white;
}

a {
  color: black;
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
  background-color: rgba(22, 14, 12, 0.411);
  padding: 50px;
}

.homeTitle {
  font-size: 72px;
  color: white;
}

.homeTitle.thin {
  font-size: 58px;
  font-weight: 100;
}

.customButton { 
  height: 50px;
  width: 150px;
  padding: 20px 30px 20px 30px;
  border: none;
  border-radius: 2px;
  color: var(--text-special-color);
  font-size: 17px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.homeButton {
  margin-top: 0px;
}

.customButton:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.about {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  width: 700px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 30px 1fr;
  gap: 30px;
}

.aboutContainer img {
  max-width: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.aboutContainer h1,
.aboutContainer p {
  grid-column: 2/3;
}

.aboutContainer h1 {
  grid-row: 1/2;
}

.aboutContainer p {
  grid-row: 2/3;
  margin: 0;
  font-weight: 300;
}

h1 {
  padding: 0;
  margin: 0;
}

.shop {
  padding: 30px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}


@media (min-width: 600px) {
  .shop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .shop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.itemCard {
  aspect-ratio: 2/3;
  grid-template-rows: 1fr 17px;
  gap: 10px;
  display: grid;
  box-sizing: border-box;
}

.bottom {
  display: flex;
  justify-content: space-between;
  grid-row: 2/3;
  gap: 15px;
}

.itemCard .customButton {
  width: 100%;
}

.itemImageContainer {
  grid-row: 1/2;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.itemCard:hover {
  cursor: pointer;
}

.itemCard:hover .itemImageContainer .itemOverlay {
  visibility: visible;
}

.itemOverlay {
  visibility: hidden;
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.itemImageContainer img {
  flex: 1;
  align-self: center;
  max-width: 100%;
  max-height: 100%;
}

.itemCard .bottom {
  color: rgb(25, 25, 84);
  display: flex;
  flex-direction: column;
}

.bottom .priceContainer {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
}

.description {
  font-weight: 100;
  font-size: small;
  text-overflow: ellipsis;
}

.bottom .name {
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
}

.bottom .price {
  font-weight: 100;
  font-size: 14px;
}

.itemCard:hover .bottom .name {
  color: rgb(142, 70, 40);
}

.itemImageContainer:hover button:hover {
  background-color: var(--text-special-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
}