html {
  --header-height: 70px;
  --hover-color: rgb(242, 242, 242);
}

body {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.header {
  height: var(--header-height);
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
}

@media (min-width:700px) {
  .header {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.left {
  display: flex;
  text-align: center;
  height: 100%;
  width: 500px;
}

.headerElem {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: font-size 0.3s, background-color 0.6s;
}

.title.headerElem {
  font-weight: bold;
}

.headerElem:hover {
  cursor: pointer;
  background-color: var(--hover-color);
  font-size: 17px;
}

.home {
  height: calc(100vh - var(--header-height));
  width: 100vw;
  background-image: url('./images/SuitsOnDummies.jpg');
  background-size: cover;
  background-position: bottom center;
}

.basket {
  font-size: 26px;
  padding: 10px;
  border-radius: 50%;  
  transition: font-size 0.3s, background-color 0.4s;
}

.basket:hover {
  cursor: pointer;
  font-size: 27px;
  background-color: var(--hover-color);
}

.headerBasket {
  position: relative;
}

.badge {
  width: 10px;
  height: 10px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  right: 0;
  bottom: -5px;
  background-color: red;
  padding: 5px;
  text-align: center;
}